<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Notifications</title>
    <style>

        .content {
  max-width: 400px;
  margin: 50px;
 
  padding: 10px;
  text-align: center;
}
    </style>
</head>
<body>
    <div class="content">
        <img id="image_not" style="width: 250px; height: 85px;padding-left:40px;" src="https://firebasestorage.googleapis.com/v0/b/pizzaswebaplication.appspot.com/o/EBS_Vertical_2.png?alt=media&token=e33e8b6e-3b2c-4ff8-86f5-f73c48235340"/>
        <h2 style="color:grey">There is no new notifications yet.</h2>
        <button id="go_back_button">Go Back</button>
       
    </div>

    
</body>
</html>