<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>not found</title> -->
    <style>

        .content {
  max-width: 400px;
  margin: 50px;
 
  padding: 10px;
  text-align: center;
}
    </style>
</head>
<body style="background: darkgray;" >
    <div class="content">
        <img id="image_not" style="width: 250px; height: 85px;padding-left:40px;" src="https://firebasestorage.googleapis.com/v0/b/pizzaswebaplication.appspot.com/o/EBS_Vertical_2.png?alt=media&token=e33e8b6e-3b2c-4ff8-86f5-f73c48235340"/>
        <h2 style="color:grey">You have no unread notifications from the last 30 days.</h2>
        <button id="unmark_btn" style ="color:blue;border: none; background-color: transparent;cursor: pointer; "><b><u>Undo "Mark all as read"</u></b></button>
    </div>

    
</body>
</html>